<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <% if reviews = Review.where(product_id: @product.id) %>
      <% reviews.each do |review| %>
        <div>
          <dl class="dl-horizontal">
          <dt>Rating</dt><dd><%= review.rating %></dd>
          <dt>Reviewed</dt>
          <dd><%= review.created_at %></dd>
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          </dl>
        </div>
      <% end %>
    <% else %>
      ????
    <% end %>
    <div>
    <dl class="dl-horizontal">
    <%= form_for :review do |form| %>
    <dt>Add a Review for</dt><dd><%= @product.name %></dd>
      <dt>Rating</dt>
      <dd><fieldset class="rating">
      <input type="radio" id="star1" name="rating" value="1" />
      <label for="star1">1 star</label>
      <input type="radio" id="star2" name="rating" value="2" />
      <label for="star2">2 stars</label>
      <input type="radio" id="star3" name="rating" value="3" />
      <label for="star3">3 stars</label>
      <input type="radio" id="star4" name="rating" value="4" />
      <label for="star4">4 stars</label>
      <input type="radio" id="star5" name="rating" value="5" />
      <label for="star5">5 stars</label>

      </fieldset>
      </dd>
      <dt>Rating</dt>
      <dd><%= select_tag "rating", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %></dd>
      <dt>Description<dt>
      <dd><%= form.text_field :description %></dd>
      <dt></dt><dd><%= submit_tag "Submit" %></dd>
    <% end %>
    </dl>
    </div>
  </article>

</section>
